<div class="chat-header">
  <div class="left-header">
    <div class="header-title">TEST_CHAT</div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="messages">
  <%= render partial: 'messages', collection: @messages %>
</div>
<%# render partial: "messsages", collection: @messages でもOK %>
  <%# <div class="message">
    <div class="upper-message">
      <div class="message-user">TOM</div>
      <div class="message-date">****/**/** **:**:**</div>
    </div>
    <div class="lower-message">
      <div class="message-content">testテキスト</div>
    </div>
  </div>
  <div class="message">
    <div class="upper-message">
      <div class="message-user">TOM</div>
      <div class="message-date">****/**/** **:**:**</div>
    </div>
    <div class="lower-message">
      <div class="message-content">testテキスト</div>
    </div>
  </div> %>


<%# <div class="form"> %>
<%= form_with model: [@room, @message], class: 'form', local: true do |f|  %>
  <div class="form-input">
  <%= f.text_field :content, class: "form-message", placeholder: "type a message"%>
  <%# <input type="text" placeholder="type a message" class="form-message"> %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :file, class: "hidden" %>
      <%# <input type="file" class="hidden"> %>
    </label>
  </div>
  <%= f.submit "送信", class: "form-submit" %>
  <% end %>
  <%# <input type="submit" name="commit" value="送信" class="form-submit"> %>
  <%# f.から始まるコードはその直下のhtmlコードをform_withに変換したもの。どうやらclassはそのまま使っているみたい %>
<%# </div> %>


